*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif ;
}

/* classi generali */
.container{
   width: 60%;
   margin: 0 auto;
   /* debugger */
   /* background-color: red; */
   height: 100%;
}

a{
    text-decoration: none;
    display: inline-block;
}

.relative{
    position: relative;
}

.left{
    float: left;
}

.right{
    float: right;
}

.small{
    width: 40%;
}

.big{
    width: 60%;
}

.grey{
    background-color: #F6F6F6;
}


/* clearfix */
.row{
    /* debugger */
    height: 100%;
    text-align: center;
}

.row::after{
    content: "";
    clear: both;
    display: table;  
}

/* struttura stile testata */

header{
  
   
}

.nav_section{
    background-color: #255EE9;/
    width: 100%;
    height: 50px;
    
    
    
}
/* stile navigazione */
.nav-six{
    width: 10%;
    height: 100%;
    float: left;
    /* debugger */
    line-height: 50px;
    text-align: center;
}

.nav-six img{
    vertical-align: middle;
}

.nav-cx{
    width: 80%;
    height: 100%;
    float: left;
    /* debugger */
    /* background-color: blueviolet; */
    line-height: 50px;
    text-align: center;
}

.nav-dx{
    width: 10%;
    height: 100%;
    float: left;
    /* debugger */
    line-height: 50px;
    text-align: center;
}


ul li {
    display: inline-block;
    /* debugger */
    margin-right: 50px;
    
}
ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;


}
.menu_botton{
  background-color:white;
  border: none;
  color: black;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20%;

}

/* stile hero section */

.hero_section{
    background-image: url(../img/jumbo.png);
    /* debugger */
    width: 100%;
    height: 800px;
    
}

.hero_section .box{
width: 60%; 
height: 50%;   
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;



}

.hero_section .row h1{
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}

.hero_section .row p{
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}

/* struttura del corpo pagina */

.box_content{
    /* debugger */
    /* height: 400px; */
  margin: 40px 0;
  padding: 20px 0;
    
}

.col-six{
    /* debugger */ 
    height: 100%;
    text-align: center;
    
}

.col-dx{
     /* debugger */ 
    height: 100%;
    text-align: center;
    padding: 0 40px;
}

.box_title{
    font-size: 60px;
    text-align: center;
}

.box_text{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

#img_1{
   width: 100%;
   height: 100%;
   margin: 0 auto;
}

#img_2{
   
}

h3{
   margin-bottom: 10px;
}

/* struttura stile footer */
.footer_list{
    /* debugger */
    height: 200px;
    background-color: chocolate;
    border: solid 1px black;
}


.footer_sub{
    /* debugger */
    height: 200px;
    background-color: royalblue;
    border: solid 1px black;
}







